# <center> Styling Pandas Dataframes </center>

We are taking the diabetes dataset as an example that is easily available in the sklearn.datasets module. This dataset do not contain any null values in it. Try to make same values as null to properly understand how we deal with null values.

In [6]:
import pandas as pd
from sklearn.datasets import load_diabetes
df,target=load_diabetes(as_frame=True,return_X_y=True)

### Highlighting minimum values in each column

In [62]:
df.head().style.highlight_min(color='tomato')

### Highlighting maximum values in each column

In [12]:
df.head().style.highlight_max()

### Highlighting null values in each column

In [14]:
df.head().style.highlight_null()

### Setting a precision value (number of decimal places) to numerical columns

In [36]:
df.head().style.set_precision(2)

/var/folders/57/fb2dlcld2s1b5wzqflmpgh3r0000gp/T/ipykernel_4540/3202771157.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  df.head().style.set_precision(2)

### Assigning a name to the dataframe

In [40]:
df.head().style.set_caption("These are styled Dataframes")

### Replacing all null values with some Custom value.

In [16]:
df.head().style.set_na_rep("Not found").highlight_null()

/var/folders/57/fb2dlcld2s1b5wzqflmpgh3r0000gp/T/ipykernel_4540/3999123551.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(na_rep=..)`
  df.head().style.set_na_rep("Not found").highlight_null()

### Using heatmap concept for applying background colors to the values of each colum (Thicker=High Intensity)

In [22]:
df.head().style.background_gradient()

### Using CSS properties to style pandas dataframe

In [63]:
df.head().style.set_properties(
    **{'border':'5px solid red',
       'color':'ornage','font-weight':'bold'})

### Using bars to represent every values of a column

In [34]:
df.head().style.bar(color='cyan')

### The style operation can be stacked one after another in a single statment. (df.style1.style2)

In [41]:
df.head().style.set_caption("stacking Styles").set_precision(2).bar(color='red')

/var/folders/57/fb2dlcld2s1b5wzqflmpgh3r0000gp/T/ipykernel_4540/811999373.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  df.head().style.set_caption("stacking Styles").set_precision(2).bar(color='red')

### df.style.format() method is used to apply various formatting options and provides flexibility of applying the changes only to the subset of columns

In [46]:
df.head().style.format({'s1':"{:.2%}"},na_rep="No Value",precision=3)

### Custom Styling

In [65]:
def highlight_mean_greater(s):
    """
    set the background color of all cells that has a value greater than column's mean as green and less than the column's mean as red.
    """
    mask=s>s.mean()
    return ['background-color:green;color:white;border:1px solid black' if i else 'background-color:red' 
            for i in mask]
df.head().style.apply(highlight_mean_greater)

In [64]:
def format_negative(s):
    """
    set the font color of all the possitive values as blue and all the negative values as red and also the negative values have their background color as yellow.
    """
    return ['color:red;font-weight:bold;background-color:yellow' if i<0 else 'color:blue' for i in s]
df.head().style.apply(format_negative)